<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>Management App</title>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Polyfill(s) for older browsers -->
        <script src="assets/node_modules/core-js/client/shim.min.js"></script>

        <script src="assets/node_modules/zone.js/dist/zone.js"></script>
        <script src="assets/node_modules/systemjs/dist/system.src.js"></script>

        @*bootstrap raw include*@
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        @*System-js configuration*@
        <script src="assets/system.config.js"></script>
        <script>
                System.import('app').catch(function(err){ console.error(err); });
        </script>
        <style text="text/css">
            html, body {margin: 0; height: 100%; overflow: hidden}
        </style>
    </head>

    <body>
        <management-app>Loading...</management-app>
    </body>
</html>