.ma-app-container {
  display: flex;
  height: 100%;

  .ma-content-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 auto;
    border-right: 1px solid grey;
    padding: 0 5px 0 5px;
  }
  .ma-content-container {
    flex: 1 0 auto;
  }
}